@import '../../assets/style/table-mixins';

.floating-add-button {
  @include floating-add-button;
}

.spell-table-container {
  // Styles spécifiques au tableau des sorts
  font-weight: 600;
  
  @include complete-table(
    $container-bg: var(--color-table-background),
    $add-button-bg: var(--color-button-dark)
  );
}
  