.spell-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);

  h1 {
    color: var(--color-text);
  }

  .spell-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}