#root {
  text-align: center;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.app-wrapper {
  display: flex;
  flex-direction: column;

  .App-content {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .tab-selector-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: auto;
      width: auto;
      margin-right: 1%;
    }

    .tab-component {
      margin: 1.5rem;
      display: flex;
      justify-content: center;
    }
  }

  .App-footer {
    display: flex;
    justify-content: left;
    align-items: end;
    color: var(--color-text);
    height: 10vh;
    background-color: transparent;
  }
}
